.category-card{
    padding:7rem 2rem 2rem 2rem;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index:1;
    gap:45px;
    width:100%;
    background-color: var(--background-color);
}
.category-card span{
    font-size: 14px;
    color:rgb(69, 68, 68);
}
.category-btn{
    background-color: white;
    border:none;
}
.btn-bottom{
    border-bottom:1px solid var(--text-color-primary);
}

